{% extends 'base.html.twig' %} {% block body %}
<div class="wrapper">
    <div style="text-align: right;">
        <a href="/animal/create/">Agregar animal</a>
    </div>
    <div class="container">
        {% for animal in animales %}
        <div class="media">
            <img class="align-self-center mr-3" src="{{ animal.picture ? animal.picture : 'https://upload.wikimedia.org/wikipedia/commons/1/1c/Gato_irritado.jpg'}}"
                width="10%">
            <div class="media-body">
                <h5 class="mt-0">{{ animal.name }}</h5>
                <p>{{ animal.description }}</p>
                <p class="mb-0">{{ animal.age}} ano{{ animal.age == 1 ? '' : 's'}}</p>
                <p class="mb-0">{{ animal.price ? ('$' ~ animal.price|number_format(0, ',', '.')) : 'Gratis' }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}